.mienbac {
    background-color: green;
    color: white;
}
.mientrung {
    background-color: yellow;
    color: white;
}
.miennam {
    background-color: orange;
    color: white;
}

.trunguong {
    font-size: 28px;
}